*{
    box-sizing: border-box;
}


body {
    background: #E5E5E5;
}

#container {
    display: flex;
    width: 100%;
}

#titulo {
    color: #0A3871;
    font-size: 4em;
    position: absolute;
    margin: 0;
    top: 10px;
    left: 55px
}

.entrada-area {
    width: 45%;
    height: 60%;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 15%;
    border-radius: 32px;
}

.texto {
    background: none;
    border: none;
    resize: none;
    outline: none;
    overflow: auto;
}

#entrada {
    color: #0A3871;
    font-size: 22px;
    width: 95%;
    padding: 5%;
    padding-top: 25px;
    height: 450px;
}

#alerta{
    align-items: center;
    padding-bottom: 15px;
    padding-left: 20px;
}

#texto-alerta {
    display: inline;
    font-size: 12px;
    color: #495057;
}

#botones{
    width: 90%;
    display: flex;
    flex: auto;
    justify-content: space-around;
    
}

#botones button{
    flex: auto;
}

button{
    font-size: 16px;
    max-width: 200px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

#button-enc {
    color: #FFFFFF;
    background: #0A3871;
}

.button-claro {
    color: #0A3871;
    background: #D8DFD8;
}

.salida-area {
    width: 30%;
    margin-top: 5%;
    height: 540px;
    display: inline;
    background: #FFFFFF;
    border-radius: 32px;
    position: relative;
}

#salida {
    width: 320px;
    max-width: 100%;
    overflow-wrap: break-word;
    height: 500px;
    color: #495057;
    font-size: 24px;
    margin: 25px;
    max-height: 75%;
}

#persona {
    margin-left: 25px;
}

#salida-mensaje{
    position: absolute;
    bottom: calc(50% - 180px);
    left: calc(50% - 215px);
}

.vertical-center{
    position: absolute;
    top: 85%;
    left: calc(50% - 100px);
}

#button-copy{
    display: block;
    margin: 0 auto;
    width: 200px;
}

#texto-oscuro {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#texto-claro {
    font-size: 16px;
    text-align: center;
}

footer{
    width: 100%;
    background: linear-gradient(#E5E5E5 , #0A3871 );
    font-size: 1.2em;
    color: #050f22;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 40px;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 40px;
}

.marca{
    display: block;
    margin: 10px 0 40px 0;
}

.github{
    margin-top: 10px;
    width: 30px;
}